{%- include "_default_templates_helpers.jinja" -%}

# Dependency updates:
{%- if major_updates %}

## Major crate updates:
    {%- for comparison in changed -%}
        {%- if comparison.ident in major_updates -%}
            {{ change(comparison) }}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{%- if failed_major_updates %}

## Failed major crate updates:
    {%- for failed in failed_major_updates %}
- {{ cratesio(failed) }}
    {%- endfor -%}
{%- endif -%}
{%- include "_default_templates_body.jinja" -%}
